/* Variables */
:root {
  --beige: #f4f1ef;
  --grey: #f4f4f4;
  --brown: #2d150e;
}

/* --------------------------- */

/* GENERAL  */

body,
html {
  font-family: "Ubuntu";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.nav-no-scroll {
  height: 100%;
  overflow: hidden;
}

.page-container {
  min-height: 95vh;
  position: relative;
  padding-bottom: 5vh;
  overflow-x: hidden;
}

.section-heading {
  text-align: center;
}

.section-heading h1 {
  color: var(--brown);
  font-size: 1.8rem;
}

.section-heading span {
  display: block;
  height: 4px;
  width: 10%;
  background-color: var(--brown);
  margin: auto;
}

/* -------- */

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--brown);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--beige);
}

/* ------------------------ */

/* Navbar */
.navbar {
  box-shadow: 0px 4px 20px rgba(146, 146, 146, 0.3);
  background-color: white;
}

.navbar-brand {
  /* padding: 0 !important; */
}

.navbar-brand img {
  height: 40px;
}

.nav-link {
  color: var(--brown);
  margin-right: 30px;
}

.nav-link i {
  padding-right: 5px;
}

.nav-link img {
  width: 1.5rem;
}

.search-bar {
  margin-right: 30px;
}

.search-bar input {
  border: none;
  border-bottom: 2px solid var(--brown);
  color: var(--brown);
  font-weight: 500;
  padding: 3px 5px;
  background-color: transparent;
  width: 125px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.search-bar input:focus {
  outline: none;
  width: 200px;
}

.search-bar input::placeholder {
  color: var(--brown);
  font-weight: 400;
}

.search-button {
  background-color: transparent;
  border: none;
  margin: 0 5px;
  font-size: 1.2rem;
  outline: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.search-button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}


.nav-cart-count {
  background-color: var(--brown);
  padding: 2px 5px;
  color: var(--beige);
  font-size: 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: none;
}


/* Mobile Nav */

.navbar-toggler i {
  color: var(--brown);
}

.navbar-toggler:focus {
  outline: none;
}

.mobile-nav {
  height: 100%;
  max-height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(31, 14, 7, 0.975);
  z-index: 20;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  overflow: hidden;
}

.mobile-nav-close {
  color: var(--grey);
  font-size: 1.5rem;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 10px;
  cursor: pointer;
}

.mobile-nav-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  padding: 15% 5% 5% 5%;
}

.mobile-nav-menu {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.mobile-nav-img {
  /* position: absolute;
  top: 10%; */
}


.mobile-nav .navbar-toggler i {
  color: var(--grey);
}


.mobile-nav-img img {
  width: 60%;
  margin: 0 auto;
  display: block;
}

.mobile-nav-menu a {
  color: var(--grey);
  text-decoration: none;
  margin: 20px 0;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-nav-menu a .nav-cart-count {
  background-color: var(--grey);
  color: var(--brown);
  margin-left: 10px;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 2px 8px;
}

.mobile-nav-menu a img {
  width: 2rem;
}

.mobile-nav-menu a i,
.mobile-nav-menu a img {
  margin-right: 10px;
}

.mobile-nav-social {
  /* position: absolute;
  bottom: 5%; */
  border-top: 0.5px solid var(--grey);
  padding-top: 20px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.mobile-nav-social i {
  margin: 0 5px;
  font-size: 1.2rem;
  color: var(--grey);
}

.mobile-nav-open {
  width: 90%;
}

.mobile-nav .search-bar {
  margin-right: 0;
  margin-top: 20px;
}

.mobile-nav .search-bar input {
  border: none;
  border-bottom: 2px solid var(--grey);
  color: var(--grey);
  font-weight: 500;
  padding: 3px 5px;
  background-color: transparent;
  width: 60%;

}

.mobile-nav .search-bar input:focus {
  outline: none;
}

.mobile-nav .search-bar input::placeholder {
  color: var(--grey);
  font-weight: 400;
}

.mobile-nav .search-button {
  background-color: transparent;
  color: var(--grey);
  border: none;
  margin: 0 5px;
  font-size: 1.2rem;
  outline: none;

}

/* ----------- */

/* Footer */

footer {
  background-color: var(--beige);
  padding-top: 30px;
  color: var(--brown);
  width: 100%;
}

footer p {
  line-height: 1.2;
  font-weight: 300;
  font-size: 0.9rem;
}


footer h4 {
  padding-top: 30px;
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
}

footer form button {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  background-color: var(--brown);
  border: none;
  padding: 6px 12px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 0.8rem;
}

footer form input {
  border: none;
  padding: 4px 12px;
  background-color: white;
  margin-right: 20px;
}

footer form input:focus {
  outline: 2px solid var(--brown);
  background-color: var(--grey);
}

.footer-links {
  margin-top: 45px;
}

.footer-links ul {
  list-style: none;
  padding-left: 5px;

}

.footer-links h6 {
  text-transform: uppercase;
  font-size: 1rem;
}

.footer-links h6+span {
  height: 2px;
  background-color: var(--brown);
  width: 20%;
  display: block;
  margin-bottom: 20px;
}

.footer-links li {
  font-weight: 500;
  margin: 10px 0;
  font-size: 0.9rem;
  padding: 5px 0;
  margin: 0;
}

.footer-links li a {
  color: var(--brown);
  text-decoration: none;
  padding-bottom: 2px;
}

.footer-links li a i {
  padding-right: 5px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.footer-links li a:hover i {
  padding-right: 15px;
}

.footer-bottom {
  padding-top: 10px;
  padding-bottom: 5px;
  border-top: 1px solid var(--brown);
  margin-top: 30px;
}

.footer-social a {
  text-decoration: none;
  margin-right: 10px;
}


.footer-social i {
  color: var(--brown);
  margin: 0 5px;
  font-size: 1.2rem;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  margin: 0;
}


.footer-social a:hover i {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}


/* Notifications */
.notify-bar {
  background-color: var(--brown);
  color: var(--beige);
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: auto;
  width: 100%;
  overflow: hidden;
  z-index: 200;
}

.notify-bar p {
  font-size: 1.05rem;
  margin: 0;
  padding: 10px;
}

.notify-bar img {
  width: 30px;
  height: 100%;
  margin-right: 20px;
}

/* Loader */

.loader-container {
  width: 100vw;
  height: 100%;
  position: absolute;
  background-color: var(--grey);
  top: 0;
  left: 0;
  text-align: center;
  z-index: 100;
  display: none;
}

.loader {
  border: 5px solid rgb(177, 177, 177);
  border-top: 5px solid var(--brown);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* ------------------------ */

/*  HOME PAGE */

/* Carousel */

.home-carousel {
  margin-top: 3%;
}

.home-carousel h1 {
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: --brown;
  font-size: 5rem;
  font-weight: 500;
}

.home-carousel h1 span {
  font-weight: 700;
}

.home-carousel .carousel-indicators li {
  height: 15px;
  width: 15px;
  background-color: var(--brown);
}

.carousel-control-next,
.carousel-control-prev {
  width: 10%;
}

.carousel-control-next i,
.carousel-control-prev i {
  color: var(--brown);
  font-size: 2rem;
}

/* Product Blocks */
.product-block-section {
  padding: 2% 0;
}

.product-block a {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  overflow: hidden;
}

.product-block img {
  min-width: 100% !important;
  transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -ms-transition: 0.7s ease;
  -o-transition: 0.7s ease;
}

.product-block:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.product-block-alert {
  background-color: var(--brown);
  text-transform: uppercase;
  display: inline-block;
  color: var(--grey);
  position: absolute;
  padding: 3px 8px;
  margin: 0;
  font-size: 0.9rem;
}

.pb-top-right {
  top: 5%;
  right: 3%;
  text-align: right;
}

.pb-top-left {
  top: 5%;
  left: 3%;
  text-align: left;
}

.pb-bottom-right {
  bottom: 5%;
  right: 3%;
  text-align: right;
}

.pb-bottom-left {
  bottom: 5%;
  left: 3%;
  text-align: left;
}

.product-block-text {
  display: inline-block;
  color: var(--brown);
  position: absolute;
  padding: 3px 0;
  font-size: 1.2rem;
  font-weight: 500;
  border-bottom: 2px solid transparent;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  margin: 0;
}

.product-block-text span {
  font-weight: 700;
  font-size: calc(100% *1.25);
}

.product-block:hover .product-block-text {
  border-bottom: 2px solid var(--brown);
}


/* Home Product Range */

.home-products-section {
  padding: 10vh 0;
  position: relative;
}

.product-range {
  padding: 20px 0;
}

.product {
  text-align: center;
  cursor: pointer;
  padding: 20px 1rem 0 1rem;
  position: relative;
  margin-bottom: 2rem;
}

.product:hover {

  color: var(--brown);
  text-decoration: none;
}

.product:hover img {
  transform: scale(1.075);
  -webkit-transform: scale(1.075);
  -moz-transform: scale(1.075);
  -ms-transform: scale(1.075);
  -o-transform: scale(1.075);
}

.product img {
  transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -ms-transition: 0.7s ease;
  -o-transition: 0.7s ease;
}


.product-name {
  color: var(--brown);
  font-weight: 500;
  font-size: 1rem;
}

.product-price {
  background-color: var(--brown);
  color: var(--grey);
  display: inline-block;
  padding: 3px 10px;
}

.product-promo {
  position: absolute;
  background-color: var(--brown);
  padding: 2px 8px;
  top: 2%;
  left: 2%;
  color: var(--beige);
  font-size: 0.8rem;
}

.home-products-section .product .product-divider {
  background-color: var(--brown);
  width: 1px;
  height: 40%;
  position: absolute;
  top: 30%;
  right: 0;
}


.home-products-section .product:last-child .product-divider {
  display: none;
}

.home-products-section .big-text {
  color: var(--grey);
  letter-spacing: 2px;
  font-size: 10rem;
  position: absolute;
  top: 30%;
  left: 20%;
  z-index: -1;
  opacity: 0.6;
}






/* --------------------- */

/* SHOP PAGE */

.shop-body>.container {
  padding: 0;
}

.shop-body>.container>.row {
  min-height: 100vh;
}

.shop-page-body .page-container {
  padding-bottom: 0;
}

.shop-filter {
  background-color: var(--grey);
  padding-top: 5vh;
}

.filter-heading {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
}

.filter-heading i {
  color: var(--brown);
  cursor: pointer;
}

.filter-heading h3 {
  display: inline-block;
  color: var(--brown);
}

.shop-product-grid {
  padding: 2rem 1rem
}

.product-image-container {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.product-image-container img {
  max-height: 100%;
  width: auto;
  max-width: 100%;
}

.shop-product-grid .product-price {
  padding: 3px 10px;
  font-size: 0.9rem;
}

/* Filter Toggle */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(45, 21, 14, 0.3);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: -2px;
  top: -2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked+.slider {
  background-color: var(--brown);
  outline: none;

}

input:checked+.slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  box-shadow: 1px 1px 4px #cfcfcf;
  -moz-transform: translateX(20px);
  -o-transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/* Filter Category */

.filter-category .card {
  background-color: transparent;
  border: none;
  color: var(--brown);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.filter-heading {
  border-bottom: 1px solid var(--brown);
  padding-bottom: 10px;
}

.filter-category .card-header {
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0;
}

.filter-category .card {
  border-bottom: 1px solid var(--brown) !important;
}

.filter-category .card-header i {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}


.filter-category .card .collapsed i {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);

}

.filter-category .card-header h5 {
  margin: 0;
  text-transform: uppercase;
  padding: 10px 0;
  font-size: 1rem;
}


.filter-category .card-price form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filter-category .card-price form input {
  max-width: 30%;
  text-align: center;
  border: 1.5px solid var(--brown);
  color: var(--brown);
  padding: 5px 5px;
}

.filter-category .card-price form span {
  width: 5%;
  height: 2px;
  background-color: var(--brown);
}

.filter-category .card-price form input::-webkit-outer-spin-button,
.filter-category .card-price form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter-category .card-price form input[type=number] {
  -moz-appearance: textfield;
}

.card-search {
  display: none;
}

.card-search .card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.card-search .card-body i {
  cursor: pointer;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.card-search .card-body i:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.card-search input {
  width: 80%;
  background-color: transparent;
  border: none;
  color: var(--brown);
  font-weight: 500;
}


.card-color .color-boxes,
.card-sizes .size-boxes {
  display: flex;
  flex-wrap: wrap;
}

.card-color .color-boxes>span {
  height: 20px;
  width: 20px;
  margin-right: 20px;
  cursor: pointer;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}


.color-boxes .active-color-filter {
  border: 2px solid var(--brown);
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
  opacity: 1 !important;
}

.color-boxes .active-color-filter-not {
  opacity: 0.6;
}

.card-sizes .size-boxes>span {
  width: 45px;
  height: 40px;
  border: 2px solid var(--brown);
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  font-weight: 500;
}

.card-sizes .size-boxes .active-size-filter {
  background-color: var(--brown);
  color: var(--grey);
}


/* Filter Price Slider*/

input[type=range] {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0 2px;
  /* Add some L/R padding to ensure box shadow of handle is shown */
  overflow: hidden;
  border: 0;
  border-radius: 1px;
  outline: none;
  background: linear-gradient(grey, grey) no-repeat center;
  /* Use a linear gradient to generate only the 2px height background */
  background-size: 100% 2px;
  pointer-events: none;
  width: auto;
}

input[type=range]:active,
input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 0px;
  background-color: var(--brown);
  position: relative;
  margin: 5px 0;
  /*Addsomemargintoensureboxshadowisshown*/
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  pointer-events: all;
  box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

input[type=range]::-webkit-slider-thumb::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 13px;
  left: 100%;
  width: 2000px;
  height: 2px;
}

.multi-range {
  position: relative;
  height: 50px;
  width: 100%;
}

.multi-range input[type=range] {
  position: absolute;
}

.multi-range input[type=range]:nth-child(1)::-webkit-slider-thumb::before {
  background-color: purple;
}

.multi-range input[type=range]:nth-child(2) {
  background: none;
}

.multi-range input[type=range]:nth-child(2)::-webkit-slider-thumb::before {
  background-color: grey;
}

.price-labels p {
  font-weight: 500;
}



/* FIlter Category */

.card-category .card-body {
  border-bottom: none !important;
}

.card-category h6 {
  font-size: 1.1rem;
  margin-top: 15px;
  cursor: pointer;
  padding: 10px 0;
  border-bottom: 1px solid var(--brown);
}

.card-category p {
  padding-left: 5px;
  cursor: pointer;
}

.card-category p i {
  font-size: 1rem;
  margin-right: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}





/* Shop Display */

.shop-products {
  padding-top: 30px;
}

.shop-product-display {
  color: var(--brown);
}

.shop-product-display select {
  border: none;
  border-bottom: 2px solid var(--brown);
  padding: 3px 0;
}

.shop-product-display p {
  color: var(--brown);
  font-weight: 500;
  margin: 0;
  font-size: 1.1rem;
  padding-right: 10px;
}

.shop-display-sort {
  display: flex;
  align-items: center;
}


.shop-category-row {
  background-color: var(--brown);
  padding: 10px;
}

.shop-category-row h5 {
  color: var(--grey);
  font-size: 1.1rem;
  margin: 0 30px;
  letter-spacing: 1px;
  font-weight: 400;
}


.shop-product-search>div {
  display: flex;
  justify-content: center;
}

.shop-product-search input {
  border: none;
  width: 70%;
  border-bottom: 2px solid var(--brown);
}

.shop-product-search input:focus {
  outline: none;
}

.filter-hide-search,
.filter-hide-color,
.filter-hide-price,
.filter-hide-category {
  display: none;
}

.shop-products-noresults {
  display: none;
  padding: 20px 0;
  color: var(--brown);
  text-align: center;
}

.shop-products-noresults h2 {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 1.5rem;
}

.shop-products-noresults button {
  background-color: var(--brown);
  border: none;
}

.shop-products-noresults button a {
  color: var(--beige);
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}




/* ---------------------------- */

/* PRODUCT PAGE */

.product-page .navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.product-page-section {
  min-height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}

.product-details {
  background-color: var(--beige);
  min-height: 100vh;
  color: var(--brown);
  flex-direction: column;
  justify-content: center;
  padding: 6rem 2.5% 6rem 2.5%;
  position: relative;
}

.product-page-name {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
}

.product-page-price {
  background-color: var(--brown);
  padding: 5px 10px;
  padding-left: 40px;
  color: var(--beige);
  font-weight: 400;
  letter-spacing: 1px;
  display: inline-block !important;
  margin: 4% 0;
  font-size: 1.1rem;
}

.product-page-price-container {
  display: flex;
  align-items: center;
  align-content: center;
}

.product-page-price-container p {
  font-weight: 500;
  margin: 0;
  margin-left: 15px;
  font-size: 1.1rem;
}

.product-page-info {
  border-left: 3px solid var(--brown);
  font-weight: 500;
  padding-left: 10px;
  margin-bottom: 15px;
}

.product-page-info p {
  margin: 5px 0;
}

.product-details .divider-line {
  width: 50%;
  height: 2px;
  background-color: var(--brown);
  display: block;
  margin: 4% 0;
}

.product-cart-specs h4 {
  font-size: 1.1rem;
  margin: 0;
  font-weight: 700;
}

.product-page-description {
  line-height: 1.3;
  font-weight: 300;
  margin: 0;
  font-size: 0.9rem;
}

.product-page-sizes-buttons {
  display: flex;
  flex-wrap: wrap;
}

.product-page-sizes-buttons button {
  border: 1.5px solid var(--brown);
  padding: 2px 6px;
  font-weight: 500;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
  font-size: 0.9rem;
}

.product-page-sizes-buttons button:focus {
  outline: none;
}

.product-page-sizes-buttons span {
  border: 1.5px solid var(--brown);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
  font-size: 0.9rem;

}

.choose-size-flash {
  animation: sizeFlash 0.7s 3;
  -webkit-animation: sizeFlash 0.7s 3;
}

@keyframes sizeFlash {
  0% {
    background-color: transparent
  }

  50% {
    background-color: var(--brown);
  }

  100% {
    background-color: transparent
  }
}


.product-page-sizes .active-size {
  background-color: var(--brown);
  color: var(--grey);
  font-weight: 400;
}

.product-page-gender p,
.product-page-color p {
  font-weight: 500;
  margin: 0;
}

.product-cart-specs .heading-divider {
  background-color: var(--brown);
  height: 1px;
  width: 20px;
  margin: 10px 0;
}

.product-page-colours>div {
  width: 16px;
  height: 16px;
  margin-top: 6px;
  display: inline-block;
  margin-right: 5px;
}

.product-add-cart {
  width: 100%;
  position: absolute;
  background-color: var(--brown);
  text-align: center;
  left: 0;
  bottom: 0;
  padding: 15px 0;
  cursor: pointer;
  border: 2px solid var(--brown);
}

.product-add-cart h3 {
  font-weight: 300;
  color: var(--grey);
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  margin: 0;
  display: inline-block;

}

.product-add-cart i {
  color: var(--grey);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.product-add-cart:hover i {
  opacity: 1;
  visibility: visible;
  padding-right: 10px;
  color: var(--brown);
}

.product-add-cart:hover h3 {
  color: var(--brown);
  font-weight: 500;
}

.hvr-sweep-to-right:before {
  background: var(--grey);
}

/* Product Gallery*/

.product-slick {
  padding-top: 15vh;
}

.product-slick-container {
  position: relative;
}

.product-slick-image-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.product-slick-image-container img {
  max-height: 100%;
  width: auto;
  max-width: 100%;
}

.product-gallery {
  position: relative;
}

.product-gallery .big-text {
  color: var(--grey);
  letter-spacing: 2px;
  font-size: 7rem;
  position: absolute;
  top: 40%;
  right: 10%;
  z-index: -1;
  text-transform: uppercase;
  text-align: right;
}

.slick-arrow {
  color: var(--brown);
  font-size: 2rem;
  position: absolute;
  top: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 20;
}

#slick-prev {
  left: 2%;
}

#slick-next {
  right: 2%;
}


/* ------------------- */

/* CART PAGE */

.cart-section {
  padding: 7.5vh 0;
  color: var(--brown);
  /* display: none; */
}

/* Cart Content */

.cart-heading i {
  cursor: pointer;
  padding: 5px;

}

.cart-heading {
  padding-bottom: 20px
}

.cart-content-headings {
  border-bottom: 2px solid var(--grey);
}

.cart-content-headings h5 {
  text-align: center;
  font-size: 1.2rem;
}

.cart-content-item-grid>h4 {
  padding-bottom: 20px;
}

.cart-content-item {
  padding: 25px 0;
  background-color: rgb(250, 250, 250);
  box-shadow: 4px 4px 8px 0px rgba(146, 146, 146, 0.2);
  margin-bottom: 40px;
  position: relative;
}

.cart-content-item:hover .cart-content-image {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.cart-content-item p {
  margin: 0;
  text-align: center;
}

.cart-content-headings div:first-child h5,
.cart-content-item-name {
  text-align: left !important;
}

.cart-content-total {
  font-weight: 500;
  font-size: 1.05rem;
}

.cart-content-item-name {
  text-decoration: none;
  color: var(--brown);
  font-weight: 500;
  display: block;
}

.cart-content-item-name:hover {
  color: var(--brown);
  text-decoration: underline;
}

.cart-content-image-container {
  max-height: 100%;
  width: auto;
}

.cart-content-image-container {
  max-height: 100%;
  max-width: 100%;
  height: 100%;
}

.cart-content-item-delete {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.cart-content-item-delete i {
  padding: 0px 7px;
  color: var(--brown);
  font-size: 0.9rem;
  line-height: 1;
}

.cart-content-item-delete:hover {
  background-color: var(--brown);
}

.cart-content-item-delete:hover i {
  color: var(--grey);
}

.cart-content-quantity {
  display: flex;
  justify-content: center;
}


.cart-content-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-content-quantity input {
  font-weight: 500;
  margin: 0 15px;
  display: inline-block;
  border: none;
  width: 15px;
}

.cart-content-quantity input:disabled {
  background-color: transparent;
}

.cart-content-quantity input::-webkit-outer-spin-button,
.cart-content-quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-content-quantity input[type=number] {
  -moz-appearance: textfield;
}

.cart-content-quantity i {
  cursor: pointer;
  padding: 5px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.cart-content-quantity i:hover {
  background-color: var(--brown);
  color: var(--grey);
}


.cart-content-totals {
  padding: 20px 0;
}

.cart-content-totals>div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--grey);
  padding-bottom: 10px;
}

.cart-content-totals>div>* {
  margin: 0;
}

.cart-content-totals p {
  font-weight: 500;
}

.cart-content-totals h4 {
  /* border-bottom: 3px solid var(--brown); */
  font-size: 1.2rem;
}

.cart-options {
  padding: 20px 0;
}

.cart-options>div {
  display: flex;
  justify-content: space-between;
}

.cart-options a {
  padding: 8px 30px;
  border: 2px solid var(--brown);
  background-color: transparent;
  color: var(--brown);
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cart-options-continue {
  background-color: var(--brown) !important;
  color: var(--beige) !important;
  padding: 8px 40px !important;
}


.cart-options a p {
  margin: 0;
}

.cart-options a i {
  opacity: 0;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}

.cart-options a:hover i {
  padding-left: 15px;
  opacity: 1;
}

.cart-options a:first-child:hover i {
  padding-right: 15px;
  opacity: 1;
}

.cart-empty {
  display: none;
  height: 100%;
}

.cart-empty>div {
  text-align: center;
  color: var(--brown);
}

.cart-empty>div>h2 {
  margin-bottom: 30px;
}

.cart-empty>div>i {
  font-size: 5rem;
  padding: 5vh 0;
}

.cart-empty a {
  color: var(--beige);
  background-color: var(--brown);
  text-decoration: none;
  border: 2px solid transparent;
  padding: 10px 30px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.cart-empty a i {
  padding-right: 5px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.cart-empty a:hover i {
  padding-right: 15px;
}

.cart-empty a:hover {
  border: 2px solid var(--brown);
  background-color: transparent;
  color: var(--brown);
  font-weight: 500;
}

/* Cart Details */
.cart-details {
  display: none;
  padding-top: 5vh;
  color: var(--brown);
}

.cart-details input,
.cart-details textarea {
  border: 1px solid var(--brown);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  color: var(--brown) !important;
}

.cart-details input:focus,
.cart-details textarea:focus {
  outline: var(--brown);
  border: 2px solid var(--brown);
  box-shadow: 3px 3px 5px rgba(146, 146, 146, 0.5);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.cart-details label {
  font-weight: 400;
}

.cart-details input::placeholder,
.cart-details textarea::placeholder {
  font-weight: 300;
}

.checkout-total,
.checkout-delivery {
  padding: 1% 5%;
}

.pay-button {
  color: var(--beige);
  background-color: var(--brown);
  border: 2px solid var(--brown);
  border-radius: 2px0;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-border-radius: 2px0;
  -moz-border-radius: 2px0;
  -ms-border-radius: 2px0;
  -o-border-radius: 2px0;
  font-size: 1.1rem;
}

.payfast-form button:hover {
  color: var(--brown);
  background-color: transparent;
}

.cart-summary h4 span {
  color: var(--brown);
}

.cart-summary .checkout-cart-count {
  background-color: var(--brown);
  color: var(--beige);
}

.cart-details-list a {
  font-weight: 500;
  display: block;
  color: var(--brown);
  text-decoration: none;
}




/* ------------------------- */

/* 404 PAGE */

.section-404 .row {
  min-height: 100vh;
}

.section-404 img {
  width: 50%;
}

.section-404 h2 {
  color: var(--brown);
  text-align: center;
}

.section-404 button {
  margin-top: 30px;
  background-color: var(--brown);
  border: none;
}

.section-404 button a {
  color: var(--beige);
  text-decoration: none;
  padding: 8px 15px;
  display: block;
}


/* Sukses Page */

.sukses-section {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--brown);
  text-align: center;
}

.sukses-section h1,
.sukses-section h3,
.sukses-section p {
  padding: 20px 10%;
}

.sukses-section button {
  border: none;
  background-color: var(--brown);
  color: var(--grey);
  padding: 10px 20px;
}

.sukses-section button a {
  color: var(--grey) !important;
  padding: 10px 20px;
}


/* Privacy */

.section-privacy,
.section-about,
.section-returns {
  padding-top: 15vh;
}

.section-about {
  text-align: center;
}

.section-returns span {
  font-weight: 500;
}